.header {
  display: flex;
}

h4 {
  color: whitesmoke;
  font-family: 'Courier New', Courier, monospace;
  font-size: 48px;
  padding: 5px;
  margin: 0;
  // font-weight: bold;
}

body {
  background-color: #8dd6ca;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

h5 {
  margin: 8px;
}

.map {
  margin: 2px;
}
